@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

 <div class="col-md-12">
        <h1>@CurrentPage.Title</h1><br />
        <div>@CurrentPage.BodyText</div>
    </div>

