@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<div class="col-md-12 team-grids">
    <div class="col-md-4 team-grid">
        <img src="/media/1008/e1zz4g7j_thumb.jpg" alt=" " class="img-responsive">
    </div>
    <div class="col-md-8 team-grid">
        <h4>Hana Richter <span>Chair April 2015 - </span></h4>
        <p>Hana is our first chair of 7ASecond, an exceptional psychologist and the driving force behind all our work.</p>
    </div>
</div>


<div class="col-md-12 team-grids">
    <div class="col-md-4 team-grid">
        <img src="/media/1005/RGJ9Aq67_400x400_thumb.jpg" alt=" " class="img-responsive">
    </div>
    <div class="col-md-8 team-grid">
        <h4>Debi Simpson <span>Member April 2015</span></h4>
        <p>Debi, a survivor of child sexual abuse, is a dedicated advocate and therapist.</p>

    </div>
</div>


<div class="col-md-12 team-grids ">
    <div class="col-md-4 team-grid">
        <img src="/media/1007/10257130_480860558711796_1674154371371349584_o_thumb.jpg" alt=" " class="img-responsive">
    </div>
    <div class="col-md-8 team-grid">
        <h4>Danny Gordon <span>Member April 2015 - </span></h4>
        <p>Danny, brings his energy and academic knowledge to our management committee. A world wide traveller he is also a great advocate and conduit for us to reach out more personally around the world.</p>

    </div>
    <div class="clearfix"> </div>
</div>



<div class="col-md-12 team-grids">
    <div class="col-md-4 team-grid">
        <img src="/media/1006/t2lkhi9q_400x400_thumb.jpg" alt=" " class="img-responsive">
    </div>
    <div class="col-md-8 team-grid">
        <h4>Esther Baker <span>Pending</span></h4>
        <p>Esther an outspoken victim of the UK VIP paedophile scandal, will be joining us soon, currently the investigations and media attention are eating up her valuable time.</p>
    </div>
</div>
